@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: FontIcon;
    font-weight: 400;
    src: url(/src/assets/fonts/font-icon.woff) format("woff");
  }
}

@layer utilities {
  :root {
    --scrollbar-track-light: #edf4f7;
    --scrollbar-thumb-light: #cbcfe0;
    --scrollbar-thumb-hover-light: #a0a7c0;

    --scrollbar-track-dark: #333;
    --scrollbar-thumb-dark: #555;
    --scrollbar-thumb-hover-dark: #777;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--scrollbar-track-light);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-light);
    border-radius: 100vh;
    border: 3px solid var(--scrollbar-thumb-hover-light);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-light);
  }

  /* Dark mode */
  .dark .scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track-dark);
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-dark);
    border: 3px solid var(--scrollbar-thumb-hover-dark);
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-dark);
  }
}
